<!DOCTYPE html>
<html>
<head>
	<title>Chat App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script type="text/javascript"> 
    var $buoop = {vs:{i:7,f:5,o:12,s:5,n:9}}; 
    $buoop.ol = window.onload; 
    window.onload=function(){ 
     try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
     var e = document.createElement("script"); 
     e.setAttribute("type", "text/javascript"); 
     e.setAttribute("src", "//browser-update.org/update.js"); 
     document.body.appendChild(e); 
    } 
</script> 

</head>
<body>

<nav class="navbar  .nav-pills" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <h1>Chat App</h1>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-app="SpringChat" class="starter-template">

        <div ng-controller="ChatCtrl">

            <div class="col-sm-offset-2">
                <div class="panel">
                    <p ng-repeat="message in messages">
                        <span class="glyphicon glyphicon-user"></span> <b>{{message.sender}}</b>: {{message.content}}</p>
                </div>
            </div>

            <form class="form-horizontal" role="form" ng-submit="sendMsg()">
                <div class="form-group">
                    <label for="user" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="user" placeholder="Enter name" name="user" ng-model="msg.sender">
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="col-sm-2 control-label">Message</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="text" name="text" ng-model="msg.content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>

      </div>

    </div>

</div><!--/.container -->



<script type="text/javascript" src="vendor/sockjs/sockjs.js"></script>
<script type="text/javascript" src="vendor/stomp/stomp.js"></script>
<script type="text/javascript" src="vendor/angularjs/angular.js"></script>
<script type="text/javascript" src="vendor/angularjs/angular-stomp.js"></script>
<script type="text/javascript" src="app/js/main.js"></script>

</body>
</html>
